<div class="animated fadeIn">
  <div class="card">
     <div class="card-header site-btn-success">
        <strong>Platform Users</strong> 
        <span class="pointer float-end text-white" (click)="back_btn()">
          <span class="fa fa-arrow-left   " ></span>
          &nbsp;<b>Back</b>
       </span>        
     </div>
     <div class="card-body " >
        <div class="row">
          <div class="animated fadeIn col-sm-12 col-md-6">
            <div class="card">
              <div class="card-header site-btn-success-dark">
                  <strong>Create New System User</strong> 
                  
              </div>
              <div class="card-body " >
          
                  <div class="margin-top">
                  </div>
          
                  <form [formGroup]="registerForm" class="mr-5 ml-5">
          
                    <div class="form-group mb-4 ">
                      <label for="first_name" class=" control-label">
                        First Name
                      </label>
                      <div class="">
                        <input id="first_name" type="text" class="form-control"  formControlName="first_name" placeholder="Type here..."/>
                      </div>
                    </div>
                    <div class="form-group mb-4 ">
                      <label for="last_name" class=" control-label">
                        Last Name
                      </label>
                      <div class="">
                        <input id="last_name"  type="text" class="form-control"  formControlName="last_name" placeholder="Type here..." />    
                      </div>
                    </div>
                    <div class="form-group mb-4 ">
                      <label for="email" class=" control-label">
                        Email
                      </label>
                      <div class="">
                        <input id="email"  type="text" class="form-control"  formControlName="email" placeholder="Type here..." /> 
                      </div>
                    </div>
                    <div class="form-group mb-4 ">
                      <label for="role_name" class=" control-label">
                        Department
                      </label>
                      <div class="">
                        <ng-select appendTo="body" dropdownPosition="bottom" class="custom"  id="department_id" class="required" formControlName="department_id">
                          <ng-option [value]="item.id" *ngFor="let item of department_list">{{item.name}}</ng-option>
                        </ng-select>
                      </div>
                    </div>  
                    <div class="form-group mb-4 ">
                      <label for="role_name" class=" control-label">
                        Role
                      </label>
                      <div class="">
                        <ng-select appendTo="body" dropdownPosition="bottom" class="custom"  id="role_name" class="required" formControlName="role_name">
                          <ng-option [value]="item.id" *ngFor="let item of user_roles_list">{{item.name}}</ng-option>
                        </ng-select>
                      </div>
                    </div>        
                  <div class="form-group mb-4 text-center" >
                      <button type="submit" (click)="registeruser()" class="btn btn-success text-white col-6">Save</button>
                    </div>
                  
                  </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div>

