<div class="animated fadeIn">      
    <div class="d-flex mb-3">
      <div class="me-auto p-2">
        <h6 class="text-dark-green fw-bolder"><i class="fa fa-calendar text-dark"></i> &nbsp;{{get_todays_date() |date}}</h6>
      </div>
      <div class="p-2">
        <div class="form-group">
          <!-- <select   class="form-control p-2">
            <option value="today">TODAY</option>
            <option value="this_week">THIS WEEK</option>
            <option value="this_month">THIS MONTH</option>
            <option value="this_term" selected>THIS TERM</option>
            <option value="date_range">DATE RANGE</option>
          </select> -->
        </div>
      </div>
      <div class="p-2" *ngIf="activate_date_range">
        <form [formGroup]="FilterForm">
          <div class="form-group">
            <input type="date" formControlName="range_start_date" class="form-control">
          </div>
        </form>
      </div>
      <div class="p-2" *ngIf="activate_date_range">
        <form [formGroup]="FilterForm" >
          <div class="form-group">
            <input type="date" formControlName="range_end_date" class="form-control">
          </div>
        </form>
      </div>
      <div class="p-2">
        <form [formGroup]="FilterForm">
          <div class="form-group">
            <!-- <select class="form-control p-2" formControlName="accountType" >
              <option [value]="item?.id" *ngFor="let item of account_types">{{item?.account_type_name}}</option>
            </select> -->
          </div>
        </form>
      </div>
      <div class="p-2">
        <button type="button" class="btn text-white site-btn-success-dark" (click)="goto_requests()" >
          <i class="fa fa-plus"></i> Add Request
        </button>
      </div>
      <div class="p-2" *ngxPermissionsExcept="['USER']">
        <button type="button" class="btn text-white site-btn-success-dark" (click)="goto_reports()" >
          <i class="fa fa-files-o"></i> Reporting
        </button>
      </div>
    </div>
</div>
<div class="animated fadeIn">
  <div class="row mb-2">
    <div class="col-md-3 col-sm-12 pointer">
      <div class="stat-card link d-flex flex-column shadow-sm cursor-pointer">
        <div class="pb-3 flex-grow-1 d-flex align-items-center">
          <!-- <i class="fa fa-thumb-tack borde text-dark-green rounded-circl p-2 border-dar text-dar fs-3 me-2"></i> -->
          <span class="fw-semibold fs-5">Total Requests</span>
        </div>
        <div class="d-flex align-items-center border-top pt-4 flex-grow-1">
          <span class="flex-grow-1 fw-bold fs-4">{{generals?.requests}}</span>
          <img src="/assets/img/icons/dashboard-arrow.svg" alt="" height="24" width="24">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 pointer">
      <div class="stat-card link d-flex flex-column shadow-sm cursor-pointer">
        <div class="pb-3 flex-grow-1 d-flex align-items-center">
          <!-- <i class="fa fa-thumb-tack borde text-dark-green rounded-circl p-2 border-dar text-dar fs-3 me-2"></i> -->
          <span class="fw-semibold fs-5">Pending</span>
        </div>
        <div class="d-flex align-items-center border-top pt-4 flex-grow-1">
          <span class="flex-grow-1 fw-bold fs-4">{{generals?.requested}}</span>
          <img src="/assets/img/icons/dashboard-arrow.svg" alt="" height="24" width="24">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 pointer">
      <div class="stat-card link d-flex flex-column shadow-sm cursor-pointer">
        <div class="pb-3 flex-grow-1 d-flex align-items-center">
          <!-- <i class="fa fa-thumb-tack borde text-dark-green rounded-circl p-2 border-dar text-dar fs-3 me-2"></i> -->
          <span class="fw-semibold fs-5">Closed</span>
        </div>
        <div class="d-flex align-items-center border-top pt-4 flex-grow-1">
          <span class="flex-grow-1 fw-bold fs-4">{{generals?.closed}}</span>
          <img src="/assets/img/icons/dashboard-arrow.svg" alt="" height="24" width="24">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 pointer" >
      <div class="stat-card link d-flex flex-column shadow-sm cursor-pointer">
        <div class="pb-3 flex-grow-1 d-flex align-items-center">
          <!-- <i class="fa fa-thumb-tack bord text-dark-green rounded-circ p-2 border-dar text-dar fs-3 me-2"></i> -->
          <span class="fw-semibold fs-5">Incomplete</span>
        </div>
        <div class="d-flex align-items-center border-top pt-4 flex-grow-1">
          <span class="flex-grow-1 fw-bold fs-4">{{generals?.incomplete}}</span>
          <img src="/assets/img/icons/dashboard-arrow.svg" alt="" height="24" width="24">
        </div>
      </div>
    </div>
  </div>


 <!-- </div> -->
<!-- </div> -->
</div>











